@import "htmlize";

$background-color: #eee8d5;
$text-color: #657b83;
$body-background-color: #fdf6e3;
$body-border-color: #93a1a1;
$link-color: #b58900;
$link-visited-color: #cb4b16;
$link-hover-color: #cb4b16;
$h1-color: #d33682;
$h2-h6-color: #859900;
$code-background-color: #eee8d5;
$pre-background-color: #fdf6e3;
$pre-color: #657b83;
$pre-border-color: #93a1a1;
$pre-shadow-color: #eee8d5;
$tag-background-color: #eee8d5;
$tag-color: #d33682;
$todo-color: #fdf6e3;
$todo-background-color: #dc322f;
$next-background-color: #268bd2;
$active-background-color: #268bd2;
$done-background-color: #859900;
$waiting-background-color: #cb4b16;
$hold-background-color: #d33682;
$note-background-color: #d33682;
$cancelled-background-color: #859900;

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C""\201D""\2018""\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

html {
  font-family: "PT Sans", sans-serif;
}

pre,
code {
  font-family: "Inconsolata", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

html {
  background-color: $background-color;
  color: $text-color;
  margin: 1em;
}

body {
  background-color: $body-background-color;
  margin: 0 auto;
  max-width: 100%;
  border: 1pt solid $body-border-color;
  padding: 1em;
}

code {
  background-color: $code-background-color;
  padding: 2px;
}

a {
  color: $link-color;
}

a:visited {
  color: $link-visited-color;
}

a:hover {
  color: $link-hover-color;
}

h1 {
  color: $h1-color;
}

h2,
h3,
h4,
h5,
h6 {
  color: $h2-h6-color;
}

pre {
  background-color: $pre-background-color;
  color: $pre-color;
  border: 1pt solid $pre-border-color;
  padding: 1em;
  box-shadow: 5pt 5pt 8pt $pre-shadow-color;
}

pre code {
  background-color: $pre-background-color;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.15em;
}

.tag {
  background-color: $tag-background-color;
  color: $tag-color;
  padding: 0 0.2em;
}

.todo,
.next,
.done {
  color: $todo-color;
  background-color: $todo-background-color;
  padding: 0 0.2em;
}

.tag {
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  border-radius: 0.35em;
}

.TODO {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: $next-background-color;
}

.NEXT {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: $next-background-color;
}

.ACTIVE {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: $next-background-color;
}

.DONE {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: $done-background-color;
}

.WAITING {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: $waiting-background-color;
}

.HOLD {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: $hold-background-color;
}

.NOTE {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: $note-background-color;
}

.CANCELLED {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: $cancelled-background-color;
}

table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid $body-border-color;
  border-right: 0;
  border-left: 0;
  padding: 0.5em;
}

th {
  background-color: $tag-background-color;
}

.figure {
  img {
    max-width: 80%;
  }
}

.title {
  text-align: center;
}

.author {
  text-align: center;
}

@mixin narrow-style {
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: fixed;
}

#nav {
  position: fixed;
  bottom: 0;
  right: 0;

  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);

  .cell {
    padding: 10px;
    width: 20px;
    height: 20px;
  }

  .nav-button {
    // font-size: 25px;
    border: 0px;
    background: none;
  }
}
#right {
  @include narrow-style();

  top: 50%;
  right: 0;
}

#left {
  @include narrow-style();

  top: 50%;
  left: 0;
}

#up {
  @include narrow-style();

  top: 0;
  right: 50%;
}

#down {
  @include narrow-style();

  bottom: 0;
  right: 50%;
}
